option_settings:
    aws:elasticbeanstalk:application:environment:
        DB_HOST: backend-database-e1.ccmsysshjfhi.us-east-1.rds.amazonaws.com
        DB_PASSWORD: DBGrupo03
        DB_USERNAME: postgres
        RAILS_ENV: development
        REDIS_URL: redis://redis-cache.mornyy.0001.use1.cache.amazonaws.com:6379